* {}

/* .container {
    width: 70vw;
    height: 66vh;
    background-color: black;
    position: absolute;
    top: 50vh;
    left: 50px;

} */

/* .main {



    position: relative;
} */
.spn{
    color: red;
}
.btncontainer{
    margin-top:150px
}
.heading_container{
    margin-left:0
}
p{
    margin-top: 40px;
    font-size: 30px;
   
}
    
h1{
    font-size: 50px;
    
}
.btns{
    cursor: pointer;
    margin:20px;
    border-radius: 10px;
    padding:20px
}
